@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

@media screen and (max-width: 600px) {
  .hero-cta-flex {
    flex-direction: column;
    gap: 2em;
  }
  .cta {
    font-size: 1.5em;
  }

  .tagline {
    margin: 0;
  }
}

@media screen and (min-width: 601px) {
  .hero-cta-flex {
    flex-direction: row;
    gap: 2em;
  }
  .cta {
    font-size: 1.5em;
  }
}

.cta {
  background-color: white;
  color: black;
  border: none;
}

.tagline {
  font-size: 1.5em;
  text-align: center;
  width: 60%;
  mix-blend-mode: color-dodge;
}

.vayu {
  font-family: "Taviraj", serif;
  margin: 0;
  padding: 0;
}

.vayu span {
  display: inline-block;
  transform: translateX(-0.25em) translateY(0.05em);
}
